{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h1>Fitness Tracking</h1>
  <hr>
    <!-- Buttons for Logging Food and Meal -->
    <p class="lead">Log Your Fitness</p>
    <div class="mb-4">
      <a class="btn btn-success mr-2" href="{{ url_for('fitness.logExercise') }}">
        <i class="fas fa-dumbbell"></i> Log Exercise
    </a>
    <a class="btn btn-success mr-2" href="{{ url_for('fitness.logWorkout') }}">
        <i class="fas fa-list"></i> Log Workout
    </a>
         
                 
    </div>

    <hr>

<div class="form-group">
  <label for="dateFilter">Select a Date:</label>
  <input
    type="date"
    class="form-control"
    id="dateFilter"
    name="dateFilter"
    value="{{ current_date }}"
  />
</div>

<div id="exercise-logs">
  <h2>Exercise Logs</h2>
  <table id="exercise-logs-table" class="table table-striped">
    <thead>
      <tr>
        <th>Exercise Name</th>
        <th>Category</th>
        <th>Duration (Minutes)</th>
        <th>Calories Burned</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Weight Lifted</th>
        <th>Notes</th>
      </tr>
    </thead>

    <tbody>
      <!-- Table rows for exercise logs will be generated here dynamically -->
    </tbody>
  </table>
</div>

<div id="workout-plan-logs">
  <h2>Workout Logs</h2>
  <table id="workout-plan-logs-table" class="table table-striped">
    <thead>
      <tr>
        <th>Workout Name</th>
        <th>Actions</th>
        <!-- Column for actions like View Exercises -->
      </tr>
    </thead>
    <tbody>
      <!-- Table rows for workout plan logs will be generated here dynamically -->
    </tbody>
  </table>
</div>

<div id="cardio-logs">
  <h2>Cardio Logs</h2>
  <table id="cardio-logs-table" class="table table-striped">
<thead>
<tr>
<th>Name</th>
<th>Activity</th>
<th>Duration (Minutes)</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<!-- Table rows for cardio logs will be generated here dynamically -->
</tbody>

  </table>
</div>

<!-- Updated Modal Structure -->
<div class="modal fade" id="viewExercisesModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Exercises in Workout Plan</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="exercisesDataTable" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Duration</th>
              <th>Calories Burned</th>
              <th>Reps</th>
              <th>Sets</th>
              <th>Weight Lifted</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <!-- Data will be inserted here -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/fitness-tracking/tracking.js') }}"></script>

<style>
  .modal-dialog {
  overflow-x: auto;
}

.modal-body {
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

</style>

{% endblock %}
