{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <!-- Display grand totals in Bootstrap cards -->
    <div class="row">
        {% for key, value in grand_total.items() %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ key.replace('_', ' ').title() }}</h5>
                    <p class="card-text">{{ value }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-4">
    {% for meal_type, data in meal_type_data.items() %}
    <div class="accordion" id="mealTypeAccordion{{ loop.index }}">
        <div class="card">
            <div class="card-header" id="mealTypeHeading{{ loop.index }}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#mealTypeCollapse{{ loop.index }}" aria-expanded="true" aria-controls="mealTypeCollapse{{ loop.index }}">
                        {{ meal_type.title() }}
                    </button>
                </h2>
            </div>
            <div id="mealTypeCollapse{{ loop.index }}" class="collapse" aria-labelledby="mealTypeHeading{{ loop.index }}" data-parent="#mealTypeAccordion{{ loop.index }}">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Calories</th>
                                <th>Total Fat</th>
                                <th>Total Carbohydrates</th>
                                <th>Total Sugars</th>
                                <th>Total Protein</th>
                                <th>Serving Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for meal in data.meals %}
                            <tr>
                                <td>Meal</td>
                                <td>{{ meal.meal_name }}</td>
                                <td>{{ meal.calories }}</td>
                                <td>{{ meal.total_fat }}</td>
                                <td>{{ meal.total_carbohydrate }}</td>
                                <td>{{ meal.total_sugars }}</td>
                                <td>{{ meal.total_protein }}</td>
                                <td>{{ meal.serving_count }}</td>
                            </tr>
                            {% endfor %}
                            {% for food in data.foods %}
                            <tr>
                                <td>Food</td>
                                <td>{{ food.food_item_name }}</td>
                                <td>{{ food.calories }}</td>
                                <td>{{ food.total_fat }}</td>
                                <td>{{ food.total_carbohydrate }}</td>
                                <td>{{ food.total_sugars }}</td>
                                <td>{{ food.total_protein }}</td>
                                <td>{{ food.serving_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/tracking/tracking.js') }}"></script>

{% endblock %}
