{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <!-- Buttons for Logging Food and Meal -->
    <div class="mb-4">
      <button type="button" class="btn btn-primary mr-2">Log Food</button>
      <button type="button" class="btn btn-secondary">Log Meal</button>
    </div>
  
    <!-- Display grand totals in Bootstrap cards -->
    <h1>Grand Totals</h1>
    <div class="row">
      {% for key, value in grand_total.items() %}
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">{{ key.replace('_', ' ').title() }}</h5>
            <p class="card-text">{{ value }}g</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  
    <!-- Button to Open Modal -->
    <button type="button" class="btn btn-info mt-3" data-toggle="modal" data-target="#macrosModal">
      View Macros
    </button>
  
    <!-- Modal for Pie Chart -->
    <div class="modal fade" id="macrosModal" tabindex="-1" role="dialog" aria-labelledby="macrosModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="macrosModalLabel">Macro Nutrient Distribution</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <canvas id="grandTotalPieChart"></canvas>
          </div>
        </div>
      </div>
    </div>


<div class="container mt-4">
  {% for meal_type, data in meal_type_data.items() %}
  <h2>{{ meal_type.title() }}</h2>
  <div class="accordion" id="mealTypeAccordion{{ loop.index }}">
    <div class="card">
      <div class="card-header" id="mealTypeHeading{{ loop.index }}">
        <h2 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#mealTypeCollapse{{ loop.index }}"
            aria-expanded="true"
            aria-controls="mealTypeCollapse{{ loop.index }}"
          >
            {{ meal_type.title() }} <i class="fas fa-chevron-down"></i>
          </button>
        </h2>
      </div>
      <div
        id="mealTypeCollapse{{ loop.index }}"
        class="collapse"
        aria-labelledby="mealTypeHeading{{ loop.index }}"
        data-parent="#mealTypeAccordion{{ loop.index }}"
      >
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th><i class="fas fa-tag"></i> Type</th>
                <th><i class="fas fa-utensils"></i> Name</th>
                <th><i class="fas fa-fire"></i> Calories</th>
                <th><i class="fas fa-tint"></i> Total Fat</th>
                <th><i class="fas fa-bread-slice"></i> Total Carbohydrates</th>
                <th><i class="fas fa-cookie"></i> Total Sugars</th>
                <th><i class="fas fa-drumstick-bite"></i> Total Protein</th>
                <th><i class="fas fa-utensil-spoon"></i> Serving Count</th>
                <th><i class="fas fa-trash"></i> Action</th>
                <!-- Add a new column for the Delete button -->
              </tr>
            </thead>
            <tbody>
              {% for meal in data.meals %}
              <tr>
                <td>Meal</td>
                <td>{{ meal.meal_name }}</td>
                <td>{{ meal.calories }}</td>
                <td>{{ meal.total_fat }}</td>
                <td>{{ meal.total_carbohydrate }}</td>
                <td>{{ meal.total_sugars }}</td>
                <td>{{ meal.total_protein }}</td>
                <td>{{ meal.serving_count }}</td>
                <td>
                  <form
                    method="POST"
                    action="{{ url_for('nutrition.delete_entry', id=meal.food_meal_log_id) }}"
                  >
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %} {% for food in data.foods %}
              <tr>
                <td>Food</td>
                <td>{{ food.food_item_name }}</td>
                <td>{{ food.calories }}</td>
                <td>{{ food.total_fat }}</td>
                <td>{{ food.total_carbohydrate }}</td>
                <td>{{ food.total_sugars }}</td>
                <td>{{ food.total_protein }}</td>
                <td>{{ food.serving_count }}</td>
                <td>
                  <form
                    method="POST"
                    action="{{ url_for('nutrition.delete_entry', id=food.food_meal_log_id) }}"
                  >
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/tracking/tracking.js') }}"></script>

<script type="text/javascript">
    var grandTotalData = JSON.parse('{{ grand_total | tojson | safe }}');
</script>

{% endblock %}

