{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Browse Meals</h1>
    <table id="mealsTable" class="table">
        <thead>
            <tr>
                <th>Meal Name</th>
                <th>Food Items</th>
            </tr>
        </thead>
        <tbody>
            {% for meal in meals %}
            <tr>
                <td>{{ meal.name }}</td>
                <td>{{ meal.food_items }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#mealsTable').DataTable();
    });
</script>
{% endblock %}
