{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h1>Create a New Meal</h1>
  <form id="createMealForm">
    <div class="form-group">
      <label for="mealName">Meal Name</label>
      <input
        type="text"
        class="form-control"
        id="mealName"
        name="mealName"
        required
      />
    </div>

    <div class="form-group">
      <label>Select Food Items and Specify Serving Count</label>
      <table id="foodItemsTable" class="display">
        <thead>
          <tr>
            <th>Food Item</th>
            <th>Serving Count</th>
          </tr>
        </thead>
        <tbody>
          {% for food in food_items %}
          <tr>
            <td>
              <input
                type="checkbox"
                class="food-item-checkbox"
                value="{{ food.id }}"
                id="foodItem{{ food.id }}"
              />
              <label for="foodItem{{ food.id }}">{{ food.name }}</label>
            </td>
            <td>
              <input
                type="number"
                min="0"
                step="any"
                class="form-control serving-count-input"
                placeholder="Serving count"
                data-food-id="{{ food.id }}"
                style="display: none"
              />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <button type="submit" class="btn btn-primary">Create Meal</button>
  </form>
</div>

<script>
  $(document).ready(function () {
    // Initialize DataTables
    var table = $("#foodItemsTable").DataTable();

  });

  $(document).ready(function () {
    $(".food-item-checkbox").change(function () {
      var servingInput = $(this).closest("tr").find(".serving-count-input");
      if ($(this).is(":checked")) {
        servingInput.show();
      } else {
        servingInput.hide().val(""); // Hide and clear the input
      }
    });

    $("#createMealForm").on("submit", function (e) {
      e.preventDefault();

      var mealName = $("#mealName").val();
      var mealData = {
        name: mealName,
        food_items: [],
      };

      $(".food-item-checkbox:checked").each(function () {
    var foodId = $(this).val();
    var servingCount = $(this).closest("tr").find(".serving-count-input").val();
    mealData.food_items.push({ id: foodId, serving_count: servingCount });
});


      $.ajax({
        url: "/nutrition/meals-and-foods/create-new-meal",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify(mealData),
        success: function (response) {
          alert("Meal created successfully");
          // Redirect or update UI as needed
        },
        error: function () {
          alert("Error creating meal");
        },
      });
    });
  });
</script>

{% endblock %}
