{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h1>Browse Workout Plans</h1>
  <table id="workoutPlanTable" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Exercises</th>
        <th>Actions</th>
        <!-- Add the Actions header -->
      </tr>
    </thead>
    <tbody>
      <!-- Workout plan data will be loaded here -->
    </tbody>
  </table>
</div>

<!-- Edit Workout Plan Modal -->
<div class="modal fade" id="editWorkoutPlanModal" tabindex="-1" aria-labelledby="editWorkoutPlanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editWorkoutPlanModalLabel">Edit Workout Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>            </div>
            <div class="modal-body">
        <form id="editWorkoutPlanForm">
          <!-- Form fields will be dynamically populated here -->
        </form>
        <hr />
        <h5>Add Exercises to Workout Plan</h5>
        <table id="allExercisesTable" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Sets</th>
              <th>Reps</th>
              <th>Weight Lifted</th>
              <th>Select</th>
            </tr>
          </thead>

          <tbody>
            <!-- Exercise data will be loaded here -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveWorkoutPlanChanges">Save Changes</button>
    </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/workout/browse-workout.js') }}"></script>

{% endblock %}
