{% extends 'base.html' %} 
{% block content %}
<div class="container mt-4">
  <h1>Fitness</h1>
  <p class="lead">Log and track your fitness activities.</p>

  <!-- Navigation Buttons -->
  <div class="row mb-4">
    <div class="col">
      <a href="log-exercise" class="btn btn-success">Log Exercise</a>
      <a href="create-exercise" class="btn btn-success">Create Exercise</a>
      <a href="browse-exercise" class="btn btn-success">Browse Exercises</a>
      <a href="cardio-and-aerobics" class="btn btn-success">Log Cardio</a>
    </div>
  </div>

  <hr>

  <!-- Date Filter -->
  <div class="form-group">
    <label for="dateFilter">Select a Date:</label>
    <input
      type="date"
      class="form-control"
      id="dateFilter"
      name="dateFilter"
      value="{{ current_date }}"
    />
  </div>
  <hr>

  <!-- Exercise Logs Section -->
  <div id="exercise-logs">
    <h3>Exercises</h3>
    <table id="exercise-logs-table" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Notes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data will be inserted here by DataTables -->
      </tbody>
    </table>
  </div>
  <hr>

  <!-- Cardio Logs Section -->
  <div id="cardio-logs">
    <h3>Cardio</h3>
    <table id="cardio-logs-table" class="table table-striped">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Duration</th>
          <th>Calories Burned</th>
          <th>Notes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data will be inserted here by DataTables -->
      </tbody>
    </table>
  </div>

  <script src="{{ url_for('static', filename='js/fitness/home.js') }}"></script>

</div>
{% endblock %}
